name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.18'

    - name: Build
      run: make clean && make

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: eDBG_arm64
        path: bin/eDBG_arm64
